PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://Shirwac:<db_password>@portfolio.qgpiugi.mongodb.net/
MONGO_DB_NAME=shirwac_portfolio
CLIENT_URL=https://<your-vercel-domain>.vercel.app
JWT_SECRET=<strong-random-secret>
JWT_EXPIRES_IN=1d
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@shirwac.dev
ADMIN_PASSWORD=12345
